// CONTACT SECTION
section#contact.contact-section
  .w-container
    h2(data-ix="scroll-fade-out-20") GET IN TOUCH WITH US
    .hero-line(data-ix="scroll-fade-out-21")
    .w-row.row.form
      .w-col.w-col-8
        div
          form#email-form.form(method="POST", name="email-form", data-name="Email Form", data-ix="scroll-fade-from-left")
            label.field-label(for="name") Your Name*
            input#name.w-input.text-field(type="text", name="name", data-name="Name", required="")
            label.field-label(for="email") Email Address*
            input#email.w-input.text-field(type="email", name="email", data-name="Email", required="")
            label.field-label(for="subject") Subject
            input#subject.w-input.text-field(type="text", name="subject", data-name="Subject")
            label.field-label(for="text-area") Your Message*
            textarea#text-area.w-input.text-area(name="message", required="", data-name="Text Area")
            button.w-button.submit-button(type="submit") Submit Message
          #result
          //
            div(class="success-message")
                          p(class="seuccses")Thank you! Your submission has been received!
                        div(class="error-message")
                          p(class="from">Oops! Something went wrong while submitting the form
