// navigation
.w-nav.navbar(data-collapse="medium", data-animation="default", data-duration="100", data-contain="1")
  //.w-div(ng-include="'/partials/account/navbar-login'")
  .social-div
    //a.w-inline-block.social.fa.fa-twitter(href="#", data-ix="fade-down-9")
    //a.w-inline-block.social.fa.fa-pinterest(href="#", data-ix="fade-down-10")
    //a.w-inline-block.social.fa.fa-facebook(href="#", data-ix="fade-down-11")
  .w-container.container-nav
    a.w-nav-brand.brand(href="#home", data-ix="fade-down")
      // here is the logo
      img.logo(src="/img/LIVEINSIGHTS_870x100.png", width="400", alt="logo.png", data-ix="fade-down")
    // nav tag
    nav.w-nav-menu.nav(role="navigation")
      a.w-nav-link.nav-link(href="#home", data-ix="fade-down-2") Home
      a.w-nav-link.nav-link(href="#about", data-ix="fade-down-3") About
      //a.w-nav-link.nav-link(href="#team", data-ix="fade-down-4") Team
      a.w-nav-link.nav-link(href="#service", data-ix="fade-down-5") Services
      a.w-nav-link.nav-link(href="#plans", data-ix="fade-down-6") Plans
      //a.w-nav-link.nav-link(href="#features", data-ix="fade-down-7") Features
      a.w-nav-link.nav-link(href="#contact", data-ix="fade-down-8") Contact
    .w-nav-button.menu-button
      .w-icon-nav-menu
// end navigation