// ABOUT SECTION
section#about.about-section
  .w-container.about-container
    h2(data-ix="scroll-fade-out-20") ABOUT LiveInsights
    .hero-line(data-ix="scroll-fade-out-21")
    .subtex(data-ix="scroll-fade-out-22")
      | We believe data can help businesses and governments make smart decisions, which helps build better communities.
    img(src="images/header.png", alt="responsive.jpg", data-ix="scroll-fade-out-23")
    //img(src="images/responsive.jpg", alt="responsive.jpg", data-ix="scroll-fade-out-23")
