// LOGO SECTION
section.logo-section
  .w-container
    .w-slider.logo-slider(data-animation="cross", data-duration="500", data-delay="5000", data-autoplay="1", data-infinite="1")
      .w-slider-mask
        .w-slide
          .w-row.logo-row
            // first logo row
            .w-col.w-col-3
              img(src="images/mohula.png", alt="mohula.png")
            .w-col.w-col-3
              img(src="images/barq.png", alt="barq.png")
            .w-col.w-col-3
              img(src="images/buddy.png", alt="buddy.png")
            .w-col.w-col-3
              img(src="images/smack.png", alt="smack.png")
        .w-slide
          .w-row.logo-row
            // second logo row
            .w-col.w-col-3
              img(src="images/marketi.png", alt="marketi.png")
            .w-col.w-col-3
              img(src="images/tex.png", alt="tex.png")
            .w-col.w-col-3
              img(src="images/swords.png", alt="swords.png")
            .w-col.w-col-3
              img(src="images/apps.png", alt="apps.png")
// end logo section