// FEATURES SECTION
section#features.retina-section
  .w-container.features-container
    .w-row.features-row.top
      .w-col.w-col-5.col(data-ix="scroll-fade-from-left")
        h2.lft Powerful responsive
        .hero-line.left
        p.left
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.
        .div-left
          a.button.black(href="#") purcahse unique now!
      .w-col.w-col-7
        img.ipad(src="images/ipad.jpg", width="750", alt="ipad.jpg", data-ix="scroll-fade-from-right")
    .divder(data-ix="scroll-line-from-left-2")
    .w-row.features-row
      .w-col.w-col-7
        img.macbook(src="images/laptop.jpg", width="540", alt="laptop.jpg", data-ix="scroll-fade-from-left")
      .w-col.w-col-5.col(data-ix="scroll-fade-from-right")
        h2.lft REtina ready
        .hero-line.left
        p.left
          | Consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.
        .div-left
          a.button.gray(href="#") what u are waiting for
// end features section