// FUNFACTS SECTION
section.section-facts
  .w-row.funfacts-row
    .w-col.w-col-2.team-column
      h3
        span.timer(data-from="0", data-to="1240", data-speed="15000") 1240
      .fun-line
      .sub-text Pizzas ordered
    .w-col.w-col-2.team-column
      h3
        span.timer(data-from="0", data-to="95", data-speed="15000") 95
        | %
      .fun-line
      .sub-text Positive feedback
    .w-col.w-col-2.team-column
      h3
        span.timer(data-from="0", data-to="131", data-speed="15000") 131
      .fun-line
      .sub-text Projects completed
    .w-col.w-col-2.team-column
      h3
        span.timer(data-from="0", data-to="2691", data-speed="15000") 2691
      .fun-line
      .sub-text lines of code
    .w-col.w-col-2.team-column
      h3
        span.timer(data-from="0", data-to="742", data-speed="15000") 742
      .fun-line
      .sub-text coops of coffe
    .w-col.w-col-2
      h3
        span.timer(data-from="0", data-to="200", data-speed="15000") 200
      .fun-line
      .sub-text ticket responded
// end funfacts section