header#home.header
  .shadow
  .fixed-text
    .w-container.slider-container
      .first_text(data-ix="fade-from-left") A better way to measure your business 
      .dots_line(data-ix="line-from-left")
      .w-slider.slider_home(data-animation="outin", data-duration="400", data-infinite="1", data-delay="8000", data-autoplay="1")
        .w-slider-mask
          .w-slide.slide-1-home
            // slide 1
            .tittle_text(data-ix="fade-down-12")
              span.light MEASURE 
              | IMPACT 
              span.light WITHIN YOUR 
              | COMMUNITY
          .w-slide.slide-2-home
            // slide 2
            .tittle_text.slide_2
              span.light TURN 
              | DATA 
              br
              span.light INTO A 
              | STORY
          .w-slide.slide-3-home
            // slide 3
            .tittle_text(data-ix="fade-down-12")
              span.light MAKE 
              | DATA 
              br
              span.light MEANINGFUL 
        .w-slider-arrow-left.hide-arrow
          .w-icon-slider-left
        .w-slider-arrow-right.hide-arrow
          .w-icon-slider-right
        .w-slider-nav.w-round.slide-nav
      a.button.slider(href="#about", data-ix="pop-up-7") learn more
