.map-section
  // locate us on map now div
  .w-container
    .w-row
      .w-col.w-col-4.hero-column
        .line-hero.map
        .line-hero.map
      .w-col.w-col-4.hero-column
        a.button.location(href="#map", data-ix="hide-and-show") Locate us one map now
      .w-col.w-col-4
        .line-hero.map
        .line-hero.map
.map-wrapper(data-ix="new-interaction")
  .w-widget.w-widget-map(data-widget-latlng="40.673718,-73.986033", data-widget-style="roadmap", data-widget-zoom="12")
// end locate us on map now div