// color line
.color-line
  .w-row.line-row
    .w-col.w-col-2.color-one
    .w-col.w-col-2.color-two
    .w-col.w-col-2.color-three
    .w-col.w-col-2.color-one
    .w-col.w-col-2.color-two
    .w-col.w-col-2.color-three
// end color line div


// TEAM SECTION
section#plans.section-team
  .w-container
    h2(data-ix="scroll-fade-out-20") Plans
    .hero-line(data-ix="scroll-fade-out-21")
    .w-row.team-row
      .w-col.w-col-3.team-column(data-ix="scroll-fade-from-bottom")
        // staf member 1
        a.w-inline-block(href="#")
          //img(src="images/staf1.jpg", width="200", alt="staf1.jpg")
        h5 Silver
        .icon.fa.fa-bolt.fa-3x
        .team-line.orange
        p
          | One Module
        p
          | Up to 100,000 requests per month     
      // end staf member 1
      .w-col.w-col-3.team-column(data-ix="scroll-fade-from-bottom-2")
        // staf member 2
        a.w-inline-block(href="#")
          //img(src="images/staf2.jpg", width="200", alt="staf2.jpg")
        h5 Gold
        .icon.fa.fa-star.fa-3x
        .team-line.orange
        p
          | Three modules
        p
          | Up to 500,000 requests per month
      // end staf member 2
      .w-col.w-col-3.team-column(data-ix="scroll-fade-from-bottom-3")
        // staf member 3
        a.w-inline-block(href="#")
          //img(src="images/staf3.jpg", width="200", alt="535bd0c44ae8d544530004c4_staf3.jpg")
        h5 Platinum
        .icon.fa.fa-trophy.fa-3x
        .team-line.orange
        p
          | Full module suite
        p
          | 500,001 - 1,500,000 requests per month     
      // end staf member 3
      .w-col.w-col-3.team-column(data-ix="scroll-fade-from-bottom-4")
        // staf member 4
        a.w-inline-block(href="#")
          //img(src="images/staf4.jpg", width="200", alt="535bd0d703baee42530004a1_staf4.jpg")
        h5 Corporate
        .icon.fa.fa-cc-amex.fa-3x
        .team-line.orange
        p
          | Contact us for special inquiries
        p
          | 1,500,001 - 3,000,000 requests per month     
        // end staf member 4
    .wrap-button
      a.button(href="#contact", data-ix="scroll-pop-up") come grow with us
  // end team section


// color line
.color-line
  .w-row.line-row
    .w-col.w-col-2.color-one
    .w-col.w-col-2.color-two
    .w-col.w-col-2.color-three
    .w-col.w-col-2.color-one
    .w-col.w-col-2.color-two
    .w-col.w-col-2.color-three
// end color line div

