// color line
.color-line
  .w-row.line-row
    .w-col.w-col-2.color-one
    .w-col.w-col-2.color-two
    .w-col.w-col-2.color-three
    .w-col.w-col-2.color-five
    .w-col.w-col-2.color-four
    .w-col.w-col-2.color-six
// end color line div

// WORK SECTION
section#blah.section-blah
  .w-container
    h2 THE&#160;TEAM
    .hero-line(data-ix="scroll-fade-out-21")
    .w-row.team-row
      .w-col.w-col-3.team-column(data-ix="scroll-fade-from-bottom")
        // staf member 1
        a.w-inline-block(href="#")
          img(src="images/staf1.jpg", width="200", alt="staf1.jpg")
        h5 Clark&#160;Smith
        .hero-work president, architect
        .team-line.orange
        p
          | Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
        .social-icon
          a.fb(href="#") facebook
          a.twitter(href="#") twitter
          a.linkedin(href="#") linkedIn
          a.emial(href="mailto:yourmail@gmail.com?subject=You've%20got%20mail!", target="_blank") e-mail
      // end staf member 1
      .w-col.w-col-3.team-column(data-ix="scroll-fade-from-bottom-2")
        // staf member 2
        a.w-inline-block(href="#")
          img(src="images/staf2.jpg", width="200", alt="staf2.jpg")
        h5 Mary Jane
        .hero-work operations
        .team-line.orange
        p
          | Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
        .social-icon
          a.fb(href="#") facebook
          a.linkedin(href="#") linkedIn
          a.gplus(href="#") google +
      // end staf member 2
      .w-col.w-col-3.team-column(data-ix="scroll-fade-from-bottom-3")
        // staf member 3
        a.w-inline-block(href="#")
          img(src="images/staf3.jpg", width="200", alt="535bd0c44ae8d544530004c4_staf3.jpg")
        h5 tony&#160;Lamp
        .hero-work cfo, project menager
        .team-line.orange
        p
          | Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
        .social-icon
          a.twitter(href="#") twitter
          a.linkedin(href="#") linkedIn
          a.gplus(href="#") google +
      // end staf member 3
      .w-col.w-col-3.team-column(data-ix="scroll-fade-from-bottom-4")
        // staf member 4
        a.w-inline-block(href="#")
          img(src="images/staf4.jpg", width="200", alt="535bd0d703baee42530004a1_staf4.jpg")
        h5 Katherine doe
        .hero-work marketing
        .team-line.orange
        p
          | Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae
        .social-icon
          a.fb(href="#") facebook
          a.twitter(href="#") twitter
          a.linkedin(href="#") linkedIn
          a.gplus(href="#") google +
        // end staf member 4
    .wrap-button
      a.button(href="#contact", data-ix="scroll-pop-up") come grow with us
  // end team section

  
  // HERO SECTION
  section.hero-section
    .w-container
      .w-row
        .w-col.w-col-4.hero-column
          .line-hero
          .line-hero
        .w-col.w-col-4.hero-column
          form(action="#", method="POST")
            //script.stripe-button(src="https://checkout.stripe.com/checkout.js", data-key="pk_test_ndVDQIiZUAQsi25BhwIRtZoW", data-amount="20000", data-name="LiveInsights", data-description="Analytics as a Service", data-image="http://www.liveinsights.co/img/LIVEINSIGHTS_129x100.png")
  
        .w-col.w-col-4
          .line-hero
          .line-hero
    // end hero work
