// SERVICE SECTION
section#service.service-section
  .w-container
    h2(data-ix="scroll-fade-out-20") What WE Do
    .hero-line(data-ix="scroll-fade-out-21")
    .subtex(data-ix="scroll-fade-out-22") We love what we do and we work hard to &#160;to give you the best!
    .w-row.service-row
      .w-col.w-col-4(data-ix="scroll-pop-up-2")
        .icon.fa.fa-code.fa-3x
        h5 Design/Build Services
        p
          | Realtime backend-as-a-service that allows you to create incredible reports. 


      .w-col.w-col-4(data-ix="scroll-pop-up-3")
        .icon.fa.fa-area-chart.fa-3x
        h5 Radio Insights
        p
          | CUME and Share are not enough for today's world of +Likes, Retweets and pageviews. Our radio dashboard technology helps station managers focus their local impact through integrated reports across various media channels.


      .w-col.w-col-4(data-ix="scroll-pop-up-4")
        .icon.fa.fa-file-excel-o.fa-3x
        h5 Integrated Marketing Reports
        p
          | Custom analytics platform for your whole team. Get product, sales, marketing, and customer support working together to improve your business.

    .divder(data-ix="scroll-line-from-left")

    .w-row.service-row.other
      .w-col.w-col-4(data-ix="scroll-pop-up-5")
        .icon.fa.fa-ticket.fa-3x
        h5 Live Events Analytics
        p
          | Measure ticket sales, merchanding, and user engagement for each of your live events.


      .w-col.w-col-4(data-ix="scroll-pop-up-6")
        .icon.fa.fa-exchange.fa-3x
        h5 Internet of Things Analytics
        p
          | Make your Internet of Things implementation seamless using our cloud-based infrastructure services. 


      .w-col.w-col-4(data-ix="scroll-pop-up-7")
        .icon.fa.fa-medkit.fa-3x
        h5 Health Analytics 
        p
          | Custom analytics platform to help your users measure their progress.
    .wrap-button
      a.button(href="#project", data-ix="scroll-pop-up") Interested? see our porjects