// GET IN TOUCH SECTION
section.touch-section
  .w-container.container
    h2.h2-testimonials(data-ix="scroll-fade-out-20") stay tuned
    .hero-line(data-ix="scroll-fade-out-21")
    .w-row.connetcted-row
      .w-col.w-col-3.column-connected.team-column(data-ix="scroll-fade-from-bottom")
        .connect.fa.fa-twitter
        .connected-name twitter
        .connected-subtext Get the&#160;Latest News
      .w-col.w-col-3.column-connected.team-column(data-ix="scroll-fade-from-bottom-2")
        .connect.fa.fa-facebook
        .connected-name facebook
        .connected-subtext Join the Converstion
      .w-col.w-col-3.column-connected.team-column(data-ix="scroll-fade-from-bottom-3")
        .connect.fa.fa-pinterest
        .connected-name Pinterest
        .connected-subtext Our Latest Images
      .w-col.w-col-3.column-connected(data-ix="scroll-fade-from-bottom-4")
        .connect.fa.fa-google-plus
        .connected-name Google plus
        .connected-subtext Share and Discover
// end logo section