// TESTIMONIALS SECTION
section.testimonials-section
  .w-container.container
    h2 what they say
    .hero-line
    .w-slider.testimonials-slider(data-animation="cross", data-duration="500", data-infinite="1", data-hide-arrows="1", data-easing="ease-in-out")
      .w-slider-mask.slidermask
        .w-slide
          .text-testimonials
            // slide 1
            .textimonials-say
              | Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre, vide viderer eleifend ex mea.
            .testimonials-name John Doe
        .w-slide
          .text-testimonials
            // slide 2
            .textimonials-say
              | Nam leo odio, venenatis vel ligula vitae, placerat aliquam tortor. In massa erat, condimentum vel posuere vitae, placerat id magna.
            .testimonials-name
              | Tony Lamp &#8211;
              span.testimonials-website www.yourwebsite.com
        .w-slide
          .text-testimonials
            // slide 3
            .textimonials-say
              | Processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.
            .testimonials-name mary jane
      .w-slider-arrow-left
        .w-icon-slider-left.left-arrow
      .w-slider-arrow-right
        .w-icon-slider-right.right-arrow
// end testimonials section