// WORK SECTION
section#project.work-section
  .w-row.w-hidden-medium.work-row
    .w-col.w-col-3.portfolio-row
      a.w-inline-block.portfolio-photo.portfolio-1(href="#")
        .portfolio-photo-overlay
          .portfolio-tittle(data-ix="scroll-fade-out") PERfect portrait
          .portfolio-subtittle(data-ix="scroll-fade-out-2") by Tony Lamp
    .w-col.w-col-3.portfolio-row
      a.w-inline-block.portfolio-photo.portfolio-2(href="#")
        .portfolio-photo-overlay
          .portfolio-tittle(data-ix="scroll-fade-out-3") city buildings
          .portfolio-subtittle(data-ix="scroll-fade-out-4") by Clarck Smith
    .w-col.w-col-3.portfolio-row
      a.w-inline-block.portfolio-photo.portfolio-3(href="#")
        .portfolio-photo-overlay
          .portfolio-tittle(data-ix="scroll-fade-out-5") leopard eye
          .portfolio-subtittle(data-ix="scroll-fade-out-6") by Mary Jane
    .w-col.w-col-3.portfolio-row
      a.w-inline-block.portfolio-photo.portfolio-4(href="#")
        .portfolio-photo-overlay
          .portfolio-tittle(data-ix="scroll-fade-out-7") BASKET&#160;BALL
          .portfolio-subtittle(data-ix="scroll-fade-out-8") by Katherine Doe
  .w-row.w-hidden-medium.work-row
    .w-col.w-col-3.portfolio-row
      a.w-inline-block.portfolio-photo.portfolio-5(href="#")
        .portfolio-photo-overlay
          .portfolio-tittle(data-ix="scroll-fade-out-9") winter landscape
          .portfolio-subtittle(data-ix="scroll-fade-out-10") by Clrack Smith
    .w-col.w-col-3.portfolio-row
      a.w-inline-block.portfolio-photo.portfolio-6(href="#")
        .portfolio-photo-overlay
          .portfolio-tittle(data-ix="scroll-fade-out-11") happiness day
          .portfolio-subtittle(data-ix="scroll-fade-out-12") by Mary Jane
    .w-col.w-col-3.portfolio-row
      a.w-inline-block.portfolio-photo.portfolio-7(href="#")
        .portfolio-photo-overlay
          .portfolio-tittle(data-ix="scroll-fade-out-13") PAST&#160;CAMERA
          .portfolio-subtittle(data-ix="scroll-fade-out-14") by Katherine Doe
    .w-col.w-col-3.portfolio-row
      a.w-inline-block.portfolio-photo.portfolio-8(href="#")
        .portfolio-photo-overlay
          .portfolio-tittle(data-ix="scroll-fade-out-15") fashion woman
          .portfolio-subtittle(data-ix="scroll-fade-out-16") by Tony Lamp
// end work section
// IMPORTANT: TABLET WORK COLUMNS
.w-row.w-hidden-main.w-hidden-small.w-hidden-tiny.row-tablet
  .w-col.w-col-6.portfolio-tablet.portfoio-1
    .portfolio-photo-overlay
      .portfolio-tittle(data-ix="scroll-fade-out") perfect portrait
      .portfolio-subtittle(data-ix="scroll-fade-out-2") by Tony Lamp
  .w-col.w-col-6.portfolio-tablet.portfolio-2
    .portfolio-photo-overlay
      .portfolio-tittle(data-ix="scroll-fade-out-3") city buildings
      .portfolio-subtittle(data-ix="scroll-fade-out-4") by Clarck Smith
.w-row.w-hidden-main.w-hidden-small.w-hidden-tiny.row-tablet
  .w-col.w-col-6.portfolio-tablet.portfolio-3
    .portfolio-photo-overlay
      .portfolio-tittle(data-ix="scroll-fade-out-5") leopard eye
      .portfolio-subtittle(data-ix="scroll-fade-out-6") by Mary Jane
  .w-col.w-col-6.portfolio-tablet.portfolio-4
    .portfolio-photo-overlay
      .portfolio-tittle(data-ix="scroll-fade-out-7") BASKET&#160;BALL
      .portfolio-subtittle(data-ix="scroll-fade-out-8") by Katherine Doe
.w-row.w-hidden-main.w-hidden-small.w-hidden-tiny.row-tablet
  .w-col.w-col-6.portfolio-tablet.portfolio-5
    .portfolio-photo-overlay
      .portfolio-tittle(data-ix="scroll-fade-out-9") winter landscape
      .portfolio-subtittle(data-ix="scroll-fade-out-10") by Clrack Smith
  .w-col.w-col-6.portfolio-tablet.portfolio-6
    .portfolio-photo-overlay
      .portfolio-tittle(data-ix="scroll-fade-out-11") happiness day
      .portfolio-subtittle(data-ix="scroll-fade-out-12") by Mary Jane
.w-row.w-hidden-main.w-hidden-small.w-hidden-tiny.row-tablet
  .w-col.w-col-6.portfolio-tablet.portfolio-7
    .portfolio-photo-overlay
      .portfolio-tittle(data-ix="scroll-fade-out-13") PAST&#160;CAMERA
      .portfolio-subtittle(data-ix="scroll-fade-out-14") by Katherine Doe
  .w-col.w-col-6.portfolio-tablet.portfolio-8
    .portfolio-photo-overlay
      .portfolio-tittle(data-ix="scroll-fade-out-15") fashion woman
      .portfolio-subtittle(data-ix="scroll-fade-out-16") by Tony Lamp
// end tablet work
