doctype html
html
  head
    title= title

    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="LiveInsights mission is to improve businesses reporting through data transparency.")
    meta(name="generator" content="Woozy")
    link(rel="canonical", href="http://liveinsights.co")

    include partials/styles

    // favion
    link(rel="shortcut icon", type="image/x-icon", href="/images/fav.png")
    // apple touch icon
    link(rel="apple-touch-icon", href="/images/ico.png")
    
    //Page Specific CSS
    block stylesheets
    
    base(href="/")

  body(ng-app='app')
    
    block main-content

    //Global JS
    include partials/scripts
    
    //Page Specific JS
    block javascripts

  footer.container.text-center
    p &copy; #{year} LiveInsights